# exclude test folder and the data folder
.idea
.DS_Store
.*~
.*#
*~
*#
/PyPRIS/__pycache__
/.ipynb_checkpoints/
/examples
**workbench
**/workbooks/.ipynb
**/workbooks/*.html
**/workbooks/*.csv
/workbooks/.ipynb_checkpoints
